

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
</style>

<div class="content" role="main">
  <h1 [ngStyle]="{color:isAdmin ? 'red' : 'black'}">{{title}}</h1>
  <button *ngIf="isAdmin">View</button>
  <button >Edit</button>
  <button (click)="toggleRole()">Toggle isAdmin</button>
</div>
